---
import { experience } from "../data/experience";
import ExperiencePoint from "./ExperiencePoint.astro";
---
<section id="experience" class="w-full md:w-3xl lg:w-4xl pt-20">
    <h2 class="text-2xl font-bold text-black/80">My experience</h2>
    <div class="flex flex-col gap-4 p-4 h-dvh">
        {experience.map((experience) => (
            <ExperiencePoint experience={experience} />
        ))}
    </div>
</section>
