---
import { Mail } from "@lucide/astro";
---

<section id="home" class="flex flex-col justify-center w-full md:w-3xl lg:w-4xl min-h-dvh gap-8">
    <h3 class="animate-fade-in-down text-jet/70">Hello, my name is</h3>
    <h1 class="text-3xl md:text-7xl font-bold -mt-6 drop-shadow-md animate-fade-in-right animate-delay-300 text-jet">Daniel Velasco</h1>
    <p class="text-md animate-fade-in-up animate-delay-500 text-jet/90">
        <strong>Computer Science and AI Engineering Student</strong> and <strong>AI Developer</strong> based in Bogotá, Colombia
    </p>
    <p class="text-sm -mt-6 animate-fade-in-up animate-delay-700 text-jet/80 leading-relaxed">
        Experience building production-ready full-stack and AI-driven systems. Strong focus on backend architecture, cloud deployment, and modern frontend development with React, delivering scalable and user-focused applications.
    </p>
    <a href="mailto:dvelascogz@gmail.com" class="w-52 animate-fade-in animate-delay-1000">
        <button class="bg-jet/5 border hover:bg-munsell/10 hover:border-munsell border-jet font-bold px-4 py-2 rounded-md w-52 cursor-pointer shadow-md transition-all duration-300 flex flex-row gap-2 items-center justify-center text-jet">
            <Mail />
            Get in touch
        </button>
    </a>
</section>
