---
import { Mail } from "@lucide/astro";
---

<section id="home" class="flex flex-col justify-center w-full md:w-3xl lg:w-4xl min-h-dvh gap-8">
    <h3 class="animate-fade-in-down">Hello, my name is</h3>
    <h1 class="text-3xl md:text-7xl font-bold -mt-6 drop-shadow-md animate-fade-in-right animate-delay-300">Daniel Velasco</h1>
    <p class="text-md animate-fade-in-up animate-delay-1000">I'm a <strong>Full Stack Developer</strong> at Bogotá, Colombia.</p>
    <p class="text-sm -mt-6 animate-fade-in-up animate-delay-1000">Passionate web developer with strong teamwork, communication, and creative problem-solving skills.<br> Eager to take on challenging projects that foster learning, growth, and innovative solutions.
    </p>
    <a href="/#contact" class="w-52 animate-fade-in animate-delay-1500">
        <button class="bg-jet/5 border hover:bg-jet/15 border-jet font-bold px-4 py-2 rounded-md w-52 cursor-pointer shadow-md transition-all duration-300 flex flex-row gap-2 items-center">
            <Mail />
            Get in touch
        </button>
    </a>
</section>
